.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro, .navigation {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header {
      font-size: 24px;
      color: #F9FAF8;
      background-color: #1F2937;
  }