.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro, .navigation {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button {
    background-color: #3882F6;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    border:1px solid white;
}

.action {
    background-color:#3882F6;
}
  .header {
      font-size: 24px;
      color: #F9FAF8;
      background-color: #1F2937;
  }

img {
    height:auto;
    width: 230px;
}

.main-pic {
    height: auto;
    width: 330px
}


.middle {
    font-size: 18px;
    background-color: white;
    color: #1F2937;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}